:root{
    --hover-color: #009e6c;
    --border-color:#74747441;
    --background-second-color:#1B273B;
    --background-inputs:#273449 ;
    --hover-clear:#ff000083;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    position: relative;
    color: #fff;
}
html{
    font-size: 62.5%;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: #101829;
}
/*Main*/
.main{
    margin: 15px 0 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: column;
}
.icon{
    width: 20px;
}
/*Hero*/
.hero__title{
    color: #00e5ff;
    font-size: 30px;
}
.hero{
    text-align: center;
}
.hero__paragraph{
    font-size: 15px;
}

/*calculator*/
.calculator{
    background: var(--background-second-color);
    width: 90%;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr) 1%;
    gap: 15px;
    place-items: center;
    padding: 20px 17px 17px 17px;
    border-radius: 10px ;
    border: solid 1px var(--border-color);
}
/*calculator header*/
.calculator__header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-column: 1/3;
    justify-self: flex-start;
    gap: .5rem;
    text-align: left;
}
.calculator__header-title{
    color: #00e5ff;
    width: 100%;
    font-size: 2.5rem;
}
.calculator__header-paragraph{
    font-size: 2rem;
}
/*buttons form*/
.calculator__container-buttons{
    width: 100%;
    text-align: center;
    grid-column: 1/3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: none;
}
.calculator__button-clear{
    height: 30px;
    color: #fff;
    cursor: pointer;
    background: transparent;
    border:solid 1px var(--border-color);
    border-radius: 5px;
    font-size: 19px;
    padding: .5rem .9rem;
    margin: 0 1rem;
    display: flex;
    place-items: center;
    gap: 5px;
    transition: background .2s, border .3s;
}
.calculator__button-clear:hover{
    background: var(--hover-clear);
}
.calculator__button-convert{
    height: 30px;
    color: #fff;
    cursor: pointer;
    border:solid 1px var(--hover-color);
    background-color: transparent;
    border-radius: 5px;
    font-size: 19px;
    padding: .5rem .9rem;
    margin: 0 1rem;
    display: flex;
    place-items: center;
    gap: 5px;
    transition: background .2s;
}
.calculator__button-convert:hover{
    background-color: var(--hover-color);
}

/*form inputs*/
.calculator__form-label{
    font-size: 1.8rem;
    transition:  color .2s ease-in-out;
    cursor: pointer;
}
.calculator__form-label:hover{
    color: var(--hover-color);
}

.calculator__container-input{
    grid-column: 1/2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: none;
}
.calculator__container-options{
    grid-column: 2/3;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: none;
}

.calculator__input, .calculator__select{
    margin:  2px;
    width: 100%;
    padding: 10px 10px;
    border: solid 1px var(--border-color);
    border-radius: 5px;
    font-size: 17px;
    outline:#7c7c7c solid 1px;
    box-shadow: 0 0 3px #444444;
    background-color:var(--background-second-color);
}
.calculator__select{
    cursor: pointer;
}
/*error mensage*/
.err{
    color: red;
    justify-self: start;
    font-size: 12px;
}
/*results*/
.answer{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.card{
    width: 49%;
    border-radius: 10px;
    height: 150px;
    min-width: 250px;
    border: solid 1px var(--border-color);
    padding: 10px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr) 50px;
    background: var(--background-second-color);
}
.card__displayAnswer{
    display: flex;
    align-items: center;
    grid-column: 1/3;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    background-color:var(--background-inputs);
    font-size: 20px;
    padding:  .2rem 1rem;
    overflow-x: auto;
}
.card__base{
    justify-self: end;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 10px;
    background: var(--background-inputs);
    grid-column: 2/4 ;
}
.card__title{
    justify-self: start;
    margin: 0 2rem;
    font-size: 1.8rem;
}
.card__button{
    background-color: transparent;
    border: none;
    justify-self: start;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s;
}
.card__button:hover{
    background-color: var(--hover-color) ;
}
.card__icon{
    width: 100%;
}
.card__displayAnswer::-webkit-scrollbar-thumb{
    background-color: var(--hover-color);
    border-radius: 5px;
}
.card__displayAnswer::-webkit-scrollbar{
    height: 3px;
}